/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body {
    min-height: 100vh;
    background: url('https://pbs.twimg.com/media/Fpl9sUmWAAEoNw4.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Container Card */
.container {
    width: 380px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
}

/* Heading */
.container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    letter-spacing: 1px;
}

/* Paragraph */
.container p {
    margin-bottom: 20px;
    font-size: 18px;
}

/* Place Order Button */
.container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #111111, #3a3a3a);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
.container button:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
    transform: scale(1.05);
}

/* Back to Cart Link */
.container a {
    display: inline-block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}