/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1579370318443-8da816457e3d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Card */
.container {
    width: 350px;
    padding: 30px;
    background: rgba(211, 211, 211, 0.01);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
    color: black;
}

/* Heading */
.container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    letter-spacing: 1px;
}

/* Input Fields */
.container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    color:black;
}

/* Input Focus Effect */
.container input:focus {
    box-shadow: 0 0 5px black;
}

/* Button */
.container button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button Hover */
.container button:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
    transform: scale(1.05);
}

/* Register Link */
.container p {
    margin-top: 15px;
}

.container a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}