/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body {
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1579370318443-8da816457e3d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

/* Container Card */
.container {
    width: 380px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
}

/* Heading */
.container h2 {
    margin-bottom: 25px;
    font-size: 28px;
    letter-spacing: 1px;
}

/* Continue Shopping Button */
.container a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background:  linear-gradient(45deg, #0072ff, #00c6ff);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover effect */
.container a:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
    transform: scale(1.05);
}